pkgbase = open-orpheus-fork-git
	pkgdesc = An open-source implementation of Netease Cloud Music's Orpheus browser host.
	pkgver = 0.16.2.r951.g281899d
	pkgrel = 1
	url = https://github.com/BIGGASSS/open-orpheus
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = nodejs>=24
	makedepends = pnpm
	makedepends = rust
	makedepends = wasm-bindgen
	depends = alsa-lib
	depends = at-spi2-core
	depends = gtk3
	depends = libdrm
	depends = libnotify
	depends = libxcb
	depends = mesa
	depends = nss
	depends = xdg-utils
	optdepends = kde-cli-tools: file deletion support (kioclient)
	provides = open-orpheus-fork=0.16.2.r951.g281899d
	conflicts = open-orpheus-fork
	options = !strip
	options = !debug
	source = open-orpheus::git+https://github.com/BIGGASSS/open-orpheus.git
	sha256sums = SKIP

pkgname = open-orpheus-fork-git
