pkgbase = open-orpheus-fork
	pkgdesc = An open-source implementation of Netease Cloud Music's Orpheus browser host.
	pkgver = 0.16.2
	pkgrel = 3
	url = https://github.com/BIGGASSS/open-orpheus
	arch = x86_64
	license = MIT
	makedepends = nodejs>=24
	makedepends = pnpm
	makedepends = rust
	makedepends = wasm-bindgen
	depends = alsa-lib
	depends = at-spi2-core
	depends = gtk3
	depends = libdrm
	depends = libnotify
	depends = libxcb
	depends = mesa
	depends = nss
	depends = xdg-utils
	optdepends = kde-cli-tools: file deletion support (kioclient)
	options = !strip
	options = !debug
	source = open-orpheus-fork-0.16.2.tar.gz::https://github.com/BIGGASSS/open-orpheus/archive/9412e93635f0915639a53225bf0c92cf3ac21e4c.tar.gz
	sha256sums = d6161081d1f00a2886ee876d3cb822e8a894c4d746dc6300e64d29f8761e4c7c

pkgname = open-orpheus-fork
