pkgbase = open-orpheus
	pkgdesc = An open-source implementation of Netease Cloud Music's Orpheus browser host.
	pkgver = 0.16.2
	pkgrel = 2
	url = https://github.com/BIGGASSS/open-orpheus
	arch = x86_64
	license = MIT
	makedepends = nodejs>=24
	makedepends = pnpm
	makedepends = rust
	makedepends = wasm-bindgen
	depends = alsa-lib
	depends = at-spi2-core
	depends = gtk3
	depends = libdrm
	depends = libnotify
	depends = libxcb
	depends = mesa
	depends = nss
	depends = xdg-utils
	optdepends = kde-cli-tools: file deletion support (kioclient)
	options = !strip
	options = !debug
	source = open-orpheus-0.16.2.tar.gz::https://github.com/BIGGASSS/open-orpheus/archive/10194a6157e7e111b808fbf8059ab91672fc53d8.tar.gz
	sha256sums = b72e4dbb779360e6bdc081968c4fe928dd097cd52c1a0429c94a4ca831725daf

pkgname = open-orpheus
